$watch-size-fontsize: 16px;
$watch-size-fontweight: 900;
$selected-watch-fontsize: 50px;
$selected-watch-fontweight: lighter;
$detail-titlecolor: #4f4f4f;
$subTitle-color: #525252;
$detail-content-color: #787878;
