<nav-dir></nav-dir>

<section class="main-detail-wrapper">
    <section class="watch-title">
        <h1 id="watch-size">{{watch.category}} | {{watch.size}}</h1>
        <p id="selected-watch">{{watch.name}}</p>
    </section>

    <section class="details-carousel-container">
        <details-carousel-dir></details-carousel-dir>
    </section>

    <section class="watch-attribute-wrapper">
    <section class="watch-attribute-container">
        <aside class="attribute-size">{{watch.size}}</aside>
        <aside class="attribute-gold-color" ng-click="showSilver= false"><div id="gold-circle"></div> <br> <p id="gold-style">rose gold</p></aside>
        <aside class="attribute-silver-color" ng-click="showSilver = true"><div id="silver-circle"></div> <br> <p id="silver-style">silver</p></aside>
        <aside class="attribute-shopnow" ui-sref="checkout" ng-click="addToCart(watch)">${{watch.price}}  |  shop now</aside>
    </section>
    </section>

    <section class="watch-details-container">
        <p class="watch-description">{{watch.above_details}}</p>
    </section>

    <aside class="details-for-watch">
        <section class="details-container">
            <p class="details-title">the details</p>
            <table class="details-table-left">
                <tr class="details-table-row">
                    <td>size</td>
                    <td class="table-data-style">{{watch.size}}</td>
                </tr>
                <tr>
                    <td>case thickness</td>
                    <td class="table-data-style">{{watch.case_thickness}}</td>
                </tr>
                <tr>
                    <td>dial color</td>
                    <td class="table-data-style">{{watch.dail_color}}</td>
                </tr>
                <tr>
                    <td>movement</td>
                    <td class="table-data-style">{{watch.movement}}</td>
                </tr>
                <tr>
                    <td>strap width</td>
                    <td class="table-data-style">{{watch.strap_width}}</td>
                </tr>
            </table>

            <table class="details-table-right">
            <tr class="details-table-row">
                <td>strap</td>
                <td class="table-data-style">{{watch.strap}}</td>
            </tr>
            <tr>
                <td>strap color</td>
                <td class="table-data-style">{{watch.strap_color}}</td>
            </tr>
            <tr>
                <td>interchangeble straps</td>
                <td class="table-data-style">{{watch.interchangeable_strap}}</td>
            </tr>
            <tr>
                <td>water resistance</td>
                <td class="table-data-style">{{watch.water_resistance}}</td>
            </tr>
            </table>


        </section>

    </aside>

    <section class="inspiration-wrapper">
        <p class="inspiration-title">inspiration</p>
        <p class="inspiration-subtitle">{{watch.category}} {{watch.name}} on instagram</p>
        <p class="inspiration-bottom-line"></p>
    </section>

</section>
<footer-dir></footer-dir>