//============ Navigation Variables =========================
$logo-font: 'Taviraj', serif;
$nav-height: 51px;
$nav-bgcolor: #3F3F4A;
$primary-font:'Muli', sans-serif;
$nav-font-size: 15px;
$nav-font-color: #FFFFFF;
$nav-icon-size: 1.3em;
$promo-height: 38px;
$promo-font-color: #333333;