//============ Classic Hero Variables =========================
$hero-img-textcolor: #FFFFFF;
$hero-classic-font: 'Muli', sans-serif;
$hero-class-italic-font: 'Lusitana', serif;
$toggle-font-color: #4F4F4F;
$arrow-font-size: 2em;
