
<section class="main-checkout-wrapper">
    <nav class="checkout-nav-container">
        <img src="../../assets/img/icons/logo/dw_logo_black.png" alt="Daniel Wellington Logo" id="checkout-logo-img" ui-sref="home">
    </nav>

    <nav class="nav-continue-shopping">
        <p class="continue-shopping"><i class="fa fa-angle-double-left" aria-hidden="true" id="double-arrow-style"></i> continue shopping</p>
    </nav>

    <nav class="sub-nav-bar">
<div id="nav-left-line"></div><p>free shipping worldwide when purchasing a watch</p><div id="nav-right-line"></div>
    </nav>

    <section class="checkout-title-wrapper">
        <aside class="checkout-title-container">
            <p class="checkout-title">checkout</p>
        </aside>
        <br>

        <aside class="line-center">
            <span id="checkout-line"><!--Line under checkout --></span>
        </aside>
    </section>

    <checkout-item-dir></checkout-item-dir>

    <section class="checkout-middle-line"></section>
</section>

<order-forum-dir></order-forum-dir>















